<footer>
    <div class="container py-5 ">
        <div class="row ">
            <div class="col-3">
                <div class="logo"><img src="../../assets/imges/footer/logo-footer.png" class="navbar-logo ">
                </div>
                <div class="d-flex  mt-4">
                    <i class="fa-regular fa-user"></i>
                    <p class="ms-2">25566 Hc 1, Glenallen,Alaska, 99588, USA</p>
                </div>
                <div class="d-flex ">
                    <i class="fa-regular fa-user"></i>
                    <p class="ms-2">+603 4784 273 12</p>
                </div>
                <div class="d-flex">
                    <i class="fa-regular fa-user"></i>
                    <p class="ms-2">rentcars@gmail.com</p>
                </div>
            </div>
            <div class="col-2">
                <h6>Our Products </h6>
                <ul class="list-unstyled  mt-4">
                    <li>Career</li>
                    <li>Car</li>
                    <li> Packages</li>
                    <li> Features</li>
                    <li>Priceline</li>

                </ul>
            </div>
            <div class="col-2">
                <h6>Resources </h6>
                <ul class="list-unstyled  mt-4">
                    <li>Help Centre</li>
                    <li>Guides</li>
                    <li> Partner Network</li>
                    <li> Cruises</li>
                    <li>Developer</li>
                </ul>
            </div>
            <div class="col-md">
                <h6>About Rentcars </h6>
                <ul class="list-unstyled  mt-4">
                    <li>Why choose us</li>
                    <li>Our Story</li>
                    <li> Investor Relations</li>
                    <li> Press Center</li>
                    <li>Advertise</li>
                </ul>
            </div>
            <div class="col-md-2 ">
                <div>
                    <h6>Follow Us</h6>
                    <i class="fa-regular fa-user"></i>
                    <i class="fa-regular fa-user  ms-2"></i>
                    <i class="fa-regular fa-user  ms-2"></i>
                </div>

            </div>
        </div>
        <hr>
        <p>Copyright 2023 ・ Rentcars, All Rights Reserved</p>

    </div>

</footer>