<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/imges/landing-page/sec-5/Audi 1.png">
        </div>
        <div class="col-md-6">
            <button class="mainBtn">why choose us</button>
            <h4 class="mt-4">we offer the best experience with our rental deals</h4>
            <h4>{{productDetails.make}}</h4>
            <div class=" py-5">
                <div class="d-flex">
                    <strong>Model</strong>
                    <p class="ms-2">{{productDetails.model}}</p>
                </div>
                <div class="d-flex">
                    <strong>Year</strong>
                    <p class="ms-2">{{productDetails.year}}</p>
                </div>
                <div class=" d-flex">
                    <strong>Color</strong>
                    <p class="ms-2">{{productDetails.color}}</p>
                </div>
                <div class=" ">
                    <strong>Features</strong>
                    <ul class="list-unstyled d-block">
                        <li *ngFor="let feature of productDetails.features">{{feature}}</li>
                    </ul>
                </div>

                <div class="d-flex">
                    <strong>Price</strong>
                    <p class="ms-2">{{productDetails.price}}</p>
                </div>
            

            </div>

        </div>

    </div>
</div>